.CardDebts {
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: 5px;
  margin-left: 30px;
}

.CardCard {
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: 5px;
  margin-left: 30px;
}

.CardCard1 {
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: 5px;
  margin-left: 30px;
}

.CardCard2 {
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: 5px;
  margin-left: 30px;
}