.CardDebts {
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: 50px;
  margin-left: 80px;
}

.CardCard {
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}