<!DOCTYPE html>

<link rel="stylesheet" type="text/css" href="../static/css/main.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" ></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="../static/js/script.js"></script>

<head>
	<meta charset="UTF-8">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<html>
	<body>
		<div class="container h-100">
			<div class="col-md-15 col-md-offset-15">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<a class="navbar-brand" href="#">Organizze</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
						<div class="navbar-nav">
							<a class="nav-item nav-link active" href="../index.html">Home <span class="sr-only">(current)</span></a>
							<a class="nav-item nav-link active" href="templates/Cards.html">Cartões</a>
							<a class="nav-item nav-link active" href="#" type="button" data-toggle="modal" data-target="#exampleModal">Adicionar Cartão Crédito</a>
						</div>
					</div>
				</nav>
			</div>
			
			<p>
				<h1> Cartões </h1>
			</p>

			<div class="dataTables_filter">
				<table id="getCards" class="table table-striped table-bordered">
					<thead>
						<tr>
						<th scope="col">Nome do Cartão</th>
						<th scope="col">Vencimento</th>
						<th scope="col">Fechamento</th>
						</tr>
					</thead>
				</table>
            </div>	
        </div>
    </body>
</html>		
			